<!DOCTYPE html>
<html ng-app="TrelloDashboard">
<head>
  <title>Trello Dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>
  <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-header" align="center">
  <h1>Trello Dashboard    <small>Consumer Data</small></h1>
</div>
<div class="container">
	<div class="row">
    <div class="col-xs-6">
      <h3>Themes: Effort Split</h3>
      
      <%= pie_chart(@cards.map{ |c|   {     (c["labels"] || "Misc" )    =>   ( c["days"] || 0  )    } }.inject{ |a,b| a.merge(b){|k, oldV, newV| oldV + newV   }  }) %>
    </div>
  </div>

	<%= yield %>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
  <%= javascript_include_tag "application" %>
</div>

</body>




</html>
